*,
*::after,
*::before {
    box-sizing: border-box;
}

/* FOND*/

body {
    background-color: #edede9;
    margin: 0;
    font-family: "Tinos", serif;
    color: #463f3a;
}

/* TITRE */

h1 {
    text-align: center;
    font-family: "UnifrakturCook", cursive;
    font-size: 11rem;
    line-height: 0.88em;
    color: #463f3a;
}

header {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Tinos', serif;
}

.fond_Titre1 {
    background-image: url(images/fond_pages.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.bloc-titre1 {
    height: 595.188px;
    margin: 0px 100px 40px;
    border: #463f3a double 16px;
}

h2 {
    font-size: 2.4rem;
    font-family: "UnifrakturCook", cursive;
}

section h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* SUMMARY */

nav {
    display: flex;
    align-items: center;
    background-color: #780000;
    height: 20vh;
    margin-bottom: 10px;
}

nav a {
    flex: 1;
    margin-inline-end: 40px;
    text-decoration-color: #edede9;
    text-decoration-thickness: from-font;
    text-decoration-skip-ink: auto;
    text-underline-offset: 5px;
    color: #edede9;
}

.sum1 {
    text-align: left;
    margin-left: 40px;
    width: fit-content;
}

.sum2 {
    text-align: center;
}


.sum3 {
    text-align: right;
    margin-left: 40px;
    width: fit-content;
}

a h2 {
    text-align: center;
}

/* IMAGES */

.image-cliquable {
    width: 30vw;
    min-height: 250px;
    min-width: auto;
    cursor: pointer;
    border: double 10px #780000;
    max-width: 2000px;
    padding: 3px;
}

.popup>img {
    width: 60vw;
    border: #edede9 solid 2px;
}

.popup {
    height: fit-content;
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: center;
    align-items: center;
    z-index: 45;
    background-color: rgba(120, 0, 0, 0.8);
    padding: 12px;
}

.popup-invisible {
    display: none;
}

.popup-visible {
    display: flex;
}

.cache-fenêtre {
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    width: 30px;
}

/* Popup mentions légales */

.popup_mentions_légales {
    text-align: left;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 45;
    background-color: rgba(120, 0, 0, 0.9);
    padding: 12px;
    padding-left: 0;
    color: #edede9;

    flex-direction: column;
}

.popup_mentions_légales ul {
    list-style-type: circle;
    color: #edede9;
    margin-top: 15px;
}

.popup_mentions_légales h2{
    font-family: 'Tinos',serif;
    font-size: 1.6em;
    margin: 0;
    text-align: center;
}

.cache-fenêtre-mentions{
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
}

li a {
    color: #edede9;
}


/* BLOC IMAGES */

section {
    margin: 90px 90px 0px 90px;
    padding: 20px;
    position: relative;
}

.coin {
    width: 80px;
    position: absolute;
}

.coinG {
    top: 0;
    left: 0;
}

.coinD {
    bottom: 0px;
    right: 0px;
    transform: rotate(180deg);
}

.bloc-img {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-inline: 0px;
}

/* div.image-bloc:nth-of-type(2) {
    flex-direction: row-reverse;
} */

/*TEXTE*/

.paragraphe {
    color: #463f3a;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
    line-height: normal;
}

.paragraphe::first-letter {
    font-family: "Fleur De Leah", cursive;
    font-size: 1.6em;
    margin-right: 15px;
    margin-bottom: 0;
    float: left;
}

/*Formulaire*/
form {
    padding: 10px;
    color: #463f3a;
    border-radius: 10px;
    margin-top: 30px;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: #780000 double 6px;
}

fieldset {
    padding: 10px 20px 20px;
    border-radius: 10px;
    margin: 0;
    /* border: solid 2px white; */
    border: none;
}


.form-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
}

legend {
    font-weight: 700;
    font-size: 1.7em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

input {
    background-color: #780000;
    color: #edede9;
    width: 100%;
    border-radius: 2px;
    padding: 5px;
    margin-top: 5px;
    border: solid 2px #780000;
}

input:focus {
    border: 2px solid black;
    background-color: #edede9;
    color: black;
}

input:valid {
    border: 2px solid green;
    background-color: #edede9;
    color: black;
}

input[type=button] {
    padding: 8px 16px;
    font-size: 1.1rem;
    width: fit-content;
    border-radius: 5px;
    margin: 0;
    cursor: pointer;
}

input[type=text] {
    margin-bottom: 3px;
}

label {
    font-weight: 600;
    font-size: 1.1em;
}

.astérix {
    color: red;
}

.indication {
    margin-top: 0px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

small {
    margin: 0;
    padding: 0;
}

.message_erreur {
    color: red;
    font-weight: 600;
}

/*FOOTER*/
footer>p {
    position: relative;
    color: #edede9;
    font-family: "Tinos", serif;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    background-color: #780000;
    padding: 20px 0px;
    margin: 40px 0px 0px;
}

footer p{
    text-align: center;
}

fieldset p {
    margin: 20px;
}

ul+p{
    margin: 0;
}

